// Variables

// Font Families

$poppins-font-stack: "Poppins", sans-serif;
$mulish-font-stack: "Mulish", sans-serif;

// Colors

$neutral-zircon: #f8f9ff;
$neutral-alto: #d8d8d8;
$neutral-mine-shaft: #2d2d2d;

$cta-observatory: #009379;
$cta-aqua-squeeze: #e5f4f2;

$secondary-sweet-corn: #f8d57e;
$secondary-mandys-pink: #f2bfaf;
$secondary-sweet-corn: #ff6250;
