// General

.container {
  max-width: 1280px;
  margin: 0 auto;
  padding: 0 3.4375rem;
}

// Buttons

.btn {
  display: inline-block;
  padding: 1.125rem 3.125rem;
  border-radius: 20px;
  transition: all 0.3s ease;
}

.btn-primary {
  background-color: $cta-observatory;
  color: #fff;
  position: relative;
}

.btn-secondary {
  background-color: $cta-aqua-squeeze;

  &:hover {
    background-color: $cta-observatory;
    color: #fff;
  }
}

// Headings

.section-heading {
  font-weight: 700;
  font-size: 2.375rem;
  line-height: 3.0875rem;
  text-align: center;
  letter-spacing: -0.32px;
}

.cta-heading {
  font-weight: 700;
  font-size: 3.125rem;
  line-height: 4.0625rem;
  letter-spacing: -0.32px;
  color: $neutral-mine-shaft;
}

// Paragraphs

.section-paragraph-primary,
.section-paragraph-secondary {
  font-weight: 400;
  font-size: 1rem;
  color: $neutral-mine-shaft;
  text-align: center;
}

.section-paragraph-primary {
  line-height: 1.5rem;
}

.section-paragraph-secondary {
  line-height: 1.3rem;
  margin-top: 1.25rem;
}

.cta-paragraph {
  font-weight: 400;
  font-size: 1.3125rem;
  line-height: 1.96875rem;
  color: $neutral-mine-shaft;
  margin-top: 1.25rem;
}

// Media queries

// Tablet (1024px)

@media (max-width: 1024px) {
  // General

  .container {
    padding: 0 2.1875rem;
  }

  // Headings

  .cta-heading {
    font-size: 2.375rem;
    line-height: 3.0875rem;
  }

  // Paragraphs

  .cta-paragraph {
    font-size: 1rem;
    line-height: 1.5rem;
  }
}

// Mobile (640px)

@media (max-width: 640px) {
  // General

  .container {
    padding: 0 1.875rem;
  }

  // Headings

  .section-heading {
    font-weight: 600;
  }

  .cta-heading {
    font-weight: 600;
    font-size: 1.75rem;
    line-height: 2.275rem;
    letter-spacing: -0.16px;
    text-align: center;
  }

  // Paragraphs

  .cta-paragraph {
    text-align: center;
  }
}
