@import "./config";
@import "./utilities";

// General

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: $neutral-zircon;
  font-family: $mulish-font-stack;
}

h1,
h2,
h3,
h4,
h5,
h6,
a,
button {
  font-family: $poppins-font-stack;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
}

img {
  width: 100%;
}
