@import "./config";
@import "./utilities";

// General

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: $neutral-zircon;
  font-family: $mulish-font-stack;
}

h1,
h2,
h3,
h4,
h5,
h6,
a,
button {
  font-family: $poppins-font-stack;
}

ul {
  list-style-type: none;

  li {
    position: relative;
  }
}

a {
  text-decoration: none;
  color: $cta-observatory;
}

img {
  width: 100%;
}

// Header

#main-header {
  padding: 1.25rem 0;

  .container {
    display: flex;
    align-items: center;
    justify-content: space-between;

    #logo {
      width: 179px;
    }

    nav {
      ul {
        display: flex;
        align-items: center;

        li {
          a {
            font-family: $poppins-font-stack;
            font-weight: 600;
            font-size: 1rem;
            line-height: 1.5rem;
            transition: all 0.3s ease;
          }

          .btn-primary {
            margin-left: 1.25rem;
            padding-left: 4.875rem;
            position: relative;

            &::before {
              content: "";
              width: 20px;
              height: 20px;
              background: url("../assets/images/global/rocket_launch.svg")
                no-repeat center center/cover;
              position: absolute;
              top: 20px;
              left: 50px;
            }
          }

          .btn-secondary {
            margin-left: 3.125rem;
          }
        }
      }
    }
  }
}

// Media queries

// Tablet (1024px)

@media (max-width: 1024px) {
  // Header

  #main-header {
    .container {
      nav {
        ul {
          li {
            &:first-child,
            .btn-primary {
              display: none;
            }

            .btn-secondary {
              margin-left: 0;
            }
          }
        }
      }
    }
  }
}

// Mobile (640px)

@media (max-width: 640px) {
  // Header

  #main-header {
    .container {
      justify-content: center;

      nav {
        display: none;
      }
    }
  }
}
