@import "./config";
@import "./utilities";

// General

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: $neutral-zircon;
  font-family: $mulish-font-stack;
}

h1,
h2,
h3,
h4,
h5,
h6,
a,
button {
  font-family: $poppins-font-stack;
}

ul {
  list-style-type: none;

  li {
    position: relative;
  }
}

a {
  text-decoration: none;
  color: $cta-observatory;
}

img {
  width: 100%;
}

// Header

#main-header {
  padding: 1.25rem 0;

  .container {
    padding: 0 3.125rem;
    display: flex;
    align-items: center;
    justify-content: space-between;

    #logo {
      max-width: 179px;
    }

    nav {
      ul {
        display: flex;
        align-items: center;

        li {
          a {
            font-family: $poppins-font-stack;
            font-weight: 600;
            font-size: 1rem;
            line-height: 1.5rem;
            transition: all 0.3s ease;
          }

          .btn-primary {
            margin-left: 1.25rem;
            padding-left: 4.875rem;

            &::before {
              content: "";
              width: 20px;
              height: 20px;
              background: url("../assets/images/global/rocket_launch.svg")
                no-repeat center center/cover;
              position: absolute;
              top: 20px;
              left: 50px;
            }
          }

          .btn-secondary {
            margin-left: 3.125rem;
          }
        }
      }
    }
  }
}

main {
  // Hero

  #hero {
    padding-top: 10rem;
    padding-bottom: 8.4375rem;

    .container {
      display: flex;
      align-items: start;

      .hero-img {
        max-width: 450px;
      }

      .hero-text-box {
        padding-top: 2.875rem;
        margin-right: 4.5rem;

        .hero-heading {
          font-weight: 700;
          font-size: 4.1875rem;
          line-height: 5.44375rem;
          letter-spacing: -0.4px;
          color: $neutral-mine-shaft;
        }

        .hero-paragraph {
          font-weight: 400;
          font-size: 1.3125rem;
          line-height: 1.96875rem;
          margin-top: 1.25rem;
        }

        .hero-cta {
          display: flex;
          align-items: center;
          gap: 1.125rem;
          margin-top: 2.5rem;

          .btn-primary {
            padding-left: 4.875rem;
            position: relative;

            &::before {
              content: "";
              width: 20px;
              height: 20px;
              background: url("../assets/images/global/rocket_launch.svg")
                no-repeat center center/cover;
              position: absolute;
              top: 20px;
              left: 50px;
            }
          }

          &-btn {
            padding: 1.0625rem 3.0625rem;
            background-color: #fff;
            border: 1px solid $cta-observatory;

            &:hover {
              background-color: $cta-observatory;
              color: #fff;
            }
          }
        }
      }
    }
  }

  // Logos

  #logos {
    .container {
      .logos-container {
        border-top: 1px solid $neutral-alto;
        border-bottom: 1px solid $neutral-alto;
        padding: 2.4375rem 0;
        display: grid;
        grid-template-columns: repeat(6, 1fr);
        align-items: center;
        grid-gap: 7.875rem;
      }
    }
  }

  // Features

  #features {
    margin-top: 10rem;

    .container {
      header {
        .section-paragraph-primary {
          margin-top: 1.25rem;
        }
      }

      .features-container {
        margin-top: 3.75rem;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-gap: 1.875rem;

        .features-item {
          padding: 2.4375rem 1.8125rem;
          border: 1px solid $neutral-alto;
          background-color: #fff;
          border-radius: 20px;
          display: flex;
          flex-direction: column;
          align-items: center;
          text-align: center;
          box-shadow: $main-box-shadow;

          &-img {
            width: 82px;
            height: 82px;
            border-radius: 20px;
            display: flex;
            align-items: center;
            justify-content: center;

            img {
              width: 42px;
            }

            &-pink {
              background-color: rgba(255, 98, 80, 0.2);
            }

            &-green {
              background-color: rgba(0, 147, 121, 0.2);
            }

            &-yellow {
              background-color: rgba(248, 213, 126, 0.2);
            }
          }

          &-heading {
            font-weight: 600;
            font-size: 1.75rem;
            line-height: 2.275rem;
            letter-spacing: -0.16px;
            color: $neutral-mine-shaft;
            margin-top: 1.875rem;
            text-align: center;
          }

          &-paragraph {
            margin-top: 1.5rem;
          }

          &-link {
            font-weight: 600;
            font-size: 1rem;
            line-height: 1.5rem;
            position: relative;
            display: inline-block;
            margin-top: 2.0625rem;

            &::after {
              content: "";
              display: inline-block;
              width: 20px;
              height: 20px;
              background: url("../assets/images/global/arrow_right_green.svg")
                no-repeat center center/cover;
              position: absolute;
              top: 50%;
              transform: translateY(-50%);
              margin-left: 0.5rem;
              transition: all 0.3s ease-out;
            }

            &:hover::after {
              margin-left: 1rem;
            }
          }
        }
      }
    }
  }

  // CTA

  #cta {
    margin-top: 10rem;

    .container {
      display: flex;

      img {
        max-width: 540px;
        object-fit: cover;
      }

      .cta-text-box {
        padding: 4.25rem 0 4.25rem 3.75rem;

        .btn-primary {
          margin-top: 2.5rem;
          padding-right: 4.875rem;
          position: relative;

          &::after {
            content: "";
            display: inline-block;
            width: 20px;
            height: 20px;
            background: url("../assets/images/global/arrow_right_white.svg")
              no-repeat center center/cover;
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            margin-left: 0.5rem;
            transition: all 0.3s ease-out;
          }

          &:hover::after {
            margin-left: 1rem;
          }
        }
      }
    }
  }

  // Stats

  #stats {
    margin-top: 10rem;

    .container {
      .stats-container {
        margin-top: 3.75rem;
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-gap: 1.875rem;

        .stats-item {
          background-color: #fff;
          display: flex;
          flex-direction: column;
          align-items: center;
          text-align: center;
          gap: 0.3125rem;
          border-bottom: 4px solid $secondary-mandys-pink;
          border-top-left-radius: 20px;
          border-top-right-radius: 20px;
          padding: 3rem 1rem 2.75rem;
          box-shadow: $main-box-shadow;

          &-heading {
            font-weight: 700;
            font-size: 2.375rem;
            line-height: 3.0875rem;
            letter-spacing: -0.32px;
            color: $neutral-mine-shaft;
          }

          &-paragraph {
            margin-top: 0;
          }
        }
      }
    }
  }

  // Testimonials

  #testimonials {
    margin-top: 10rem;

    .container {
      .testimonials-container {
        margin-top: 3.75rem;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-gap: 1.875rem;

        .testimonial {
          border-radius: 20px;
          background-color: #fff;
          border: 1px solid $neutral-alto;
          padding: 2.4375rem 1.8125rem;
          box-shadow: $main-box-shadow;
          display: grid;
          grid-template-columns: 1fr;

          &-customer {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            text-align: center;

            &-img {
              width: 56px;
              height: 56px;
              border-radius: 50%;
            }

            &-name {
              font-weight: 600;
              font-size: 1.3125rem;
              line-height: 1.70625rem;
              color: #111827;
              margin-top: 1rem;
            }

            &-job {
              font-weight: normal;
              font-size: 0.875rem;
              line-height: 1.4rem;
              color: #374151;
              margin-top: 0.375rem;
            }
          }

          &-info {
            margin-top: 1.875rem;

            &-rating {
              display: flex;
              justify-content: center;
              gap: 0.3125rem;
              margin-top: 1.875rem;

              .star {
                &-rated {
                  fill: #f8d57e;
                }
              }
            }
          }
        }
      }
    }
  }

  // Pricing

  #pricing {
    margin-top: 10rem;

    .container {
      .pricing-container {
        margin-top: 3.75rem;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-gap: 1.875rem;

        .pricing-card {
          border: 1px solid $neutral-alto;
          background-color: #fff;
          padding: 2.4375rem 1.8125rem;
          border-radius: 20px;
          box-shadow: $main-box-shadow;
          color: $neutral-mine-shaft;

          &-plan {
            font-weight: 400;
            font-size: 1.3125rem;
            line-height: 1.96875rem;
          }

          &-price {
            font-weight: 700;
            font-size: 3.125rem;
            line-height: 4.0625rem;
            letter-spacing: -0.32px;
            margin-top: 0.375rem;

            span {
              font-weight: 700;
              font-family: $mulish-font-stack;
              font-size: 1rem;
              line-height: 1.6rem;
              color: #3b3b3b;
            }
          }

          &-description {
            font-weight: 400;
            font-size: 1rem;
            line-height: 1.6rem;
            margin-top: 0.375rem;
          }

          ul {
            margin-top: 1.5rem;
            display: flex;
            flex-direction: column;
            gap: 1rem;

            .pricing-card-feature {
              font-weight: 700;
              font-size: 1rem;
              line-height: 1.3rem;
              display: flex;
              align-items: start;
              gap: 0.75rem;

              &-checkmark {
                width: 20px;
                height: 20px;
                flex-shrink: 0;
              }
            }
          }

          .btn {
            background-color: $cta-aqua-squeeze;
            width: 100%;
            text-align: center;
            margin-top: 1.875rem;

            &:hover {
              background-color: $cta-observatory;
              color: #fff;
            }
          }
        }

        #pricing-card-special {
          background-color: $cta-observatory;
          color: #fff;
          border-color: $cta-observatory;

          .pricing-card-price {
            span {
              color: inherit;
            }
          }

          .btn {
            background-color: #fff;
            position: relative;
            padding-right: 4.875rem;

            &:hover {
              background-color: $cta-aqua-squeeze;
              color: $cta-observatory;
            }

            &:hover {
              background-color: $cta-aqua-squeeze;
              color: $cta-observatory;
            }

            &::after {
              content: "";
              display: inline-block;
              width: 20px;
              height: 20px;
              background: url("../assets/images/global/arrow_right_green.svg")
                no-repeat center center/cover;
              position: absolute;
              top: 50%;
              transform: translateY(-50%);
              margin-left: 0.5rem;
              transition: all 0.3s ease-out;
            }

            &:hover::after {
              margin-left: 1rem;
            }
          }
        }
      }
    }
  }

  // Team

  #team {
    margin-top: 10rem;

    .container {
      .team-container {
        margin-top: 3.75rem;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-gap: 1.875rem;

        .team-card {
          border-radius: 20px;
          background-color: #fff;
          overflow: hidden;
          box-shadow: $main-box-shadow;
          text-align: center;
          color: $neutral-mine-shaft;

          &:nth-child(1) {
            .team-card-img {
              background-image: url("../assets/images/team/sarah.png");
            }
          }

          &:nth-child(2) {
            .team-card-img {
              background-image: url("../assets/images/team/michael.png");
            }
          }

          &:nth-child(3) {
            .team-card-img {
              background-image: url("../assets/images/team/lauren.png");
            }
          }

          &-img {
            background-repeat: no-repeat;
            background-position: center;
            background-size: cover;
            height: 278px;
          }

          &-info {
            padding: 1.25rem 1.875rem 1.1875rem;

            &-name {
              font-weight: 600;
              font-size: 1.3125rem;
              line-height: 1.70625rem;
            }

            &-job {
              font-weight: 400;
              font-size: 1rem;
              line-height: 1.6rem;
              margin-top: 0.375rem;
            }
          }

          &-links {
            padding: 1.25rem 1.5rem 1.875rem;
            border-top: 1px solid $neutral-alto;
            display: flex;
            justify-content: center;
            gap: 1rem;

            &-icon {
              background-color: $cta-aqua-squeeze;
              border-radius: 50%;
              width: 32px;
              height: 32px;
              display: flex;
              align-items: center;
              justify-content: center;
              transition: all 0.3s ease;

              &:hover {
                background-color: $cta-observatory;

                svg {
                  path {
                    transition: all 0.3s ease;
                    fill: #fff;
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}

// Media queries

// Desktop (1280px)

@media (max-width: 1280px) {
  main {
    // Hero

    #hero {
      .container {
        .hero-img {
          max-width: 390px;
        }

        .hero-text-box {
          padding-top: 0;
          margin-right: 3.5rem;

          .hero-heading {
            font-size: 3.5rem;
          }
        }
      }
    }

    // Logos

    #logos {
      .container {
        .logos-container {
          padding: 2.4375rem 0;
          grid-gap: 4.5rem;
        }
      }
    }

    // CTA

    #cta {
      .container {
        img {
          max-width: 50%;
          padding-right: 1.25rem;
          overflow: visible;
        }

        .cta-text-box {
          padding: 3rem 0;
        }
      }
    }
  }
}

// Tablet (1024px)

@media (max-width: 1024px) {
  // Header

  #main-header {
    .container {
      padding: 0 1.875rem;

      nav {
        ul {
          li {
            &:first-child,
            .btn-primary {
              display: none;
            }

            .btn-secondary {
              margin-left: 0;
            }
          }
        }
      }
    }
  }

  main {
    // Hero

    #hero {
      padding-top: 6.25rem;
      padding-bottom: 5.125rem;

      .container {
        flex-direction: column;
        align-items: center;
        text-align: center;

        .hero-img {
          max-width: 320px;
          margin-top: 2.5rem;
        }

        .hero-text-box {
          margin-right: 0;

          .hero-heading {
            font-size: 4.1875rem;
            line-height: 5.44375rem;
          }

          .hero-cta {
            margin-top: 1.875rem;
            justify-content: center;
            gap: 0;

            .hero-cta-btn {
              display: none;
            }
          }
        }
      }
    }

    // Logos

    #logos {
      .container {
        .logos-container {
          padding: 2.1875rem 0;
          grid-gap: 3.25rem;
        }
      }
    }

    // Features

    #features {
      margin-top: 6.25rem;

      .container {
        .features-container {
          margin-top: 2.5rem;
          grid-template-columns: 1fr;
          grid-gap: 1.25rem;

          .features-item {
            &-heading {
              font-size: 1.3125rem;
              line-height: 1.70625rem;
              letter-spacing: normal;
            }
          }
        }
      }
    }

    // CTA

    #cta {
      margin-top: 6.25rem;

      .container {
        .cta-text-box {
          padding: 0;
        }
      }
    }

    // Stats

    #stats {
      margin-top: 6.25rem;

      .container {
        .stats-container {
          margin-top: 2.5rem;
          grid-gap: 1.25rem;

          .stats-item {
            padding: 1.875rem 1rem 1.625rem;

            &-heading {
              font-weight: 600;
              font-size: 1.75rem;
              line-height: 2.275rem;
              letter-spacing: -0.16px;
            }
          }
        }
      }
    }

    // Testimonials

    #testimonials {
      margin-top: 6.25rem;

      .container {
        .testimonials-container {
          margin-top: 1.875rem;
          grid-template-columns: 1fr;
          grid-gap: 1.25rem;

          .testimonial {
            grid-template-columns: repeat(2, 1fr);

            &-customer {
              padding-right: 1.875rem;
            }

            &-info {
              margin-top: 0;

              .section-paragraph-primary {
                text-align: left;
              }

              &-rating {
                justify-content: start;
                margin-top: 1.5rem;
              }
            }
          }
        }
      }
    }

    // Pricing

    #pricing {
      margin-top: 6.25rem;

      .container {
        .pricing-container {
          grid-template-columns: 1fr;
          margin-top: 2.5rem;

          .pricing-card {
            &-price {
              margin-top: 0.625rem;

              span {
                display: block;
              }
            }

            &-description {
              margin-top: 0.625rem;
            }
          }
        }
      }
    }

    // Team

    #team {
      margin-top: 6.25rem;

      .container {
        .team-container {
          margin-top: 2.5rem;
          grid-gap: 1.25rem;

          .team-card {
            &:nth-child(1) {
              .team-card-img {
                background-image: url("../assets/images/team/sarah_tablet.png");
              }
            }

            &:nth-child(2) {
              .team-card-img {
                background-image: url("../assets/images/team/michael_tablet.png");
              }
            }

            &:nth-child(3) {
              .team-card-img {
                background-image: url("../assets/images/team/lauren_tablet.png");
              }
            }

            &-img {
              height: 173px;
            }
          }
        }
      }
    }
  }
}

// Mobile (640px)

@media (max-width: 640px) {
  // Header

  #main-header {
    .container {
      justify-content: center;

      nav {
        display: none;
      }
    }
  }

  main {
    // Hero

    #hero {
      padding-top: 1.875rem;
      padding-bottom: 3.875rem;

      .container {
        .hero-text-box {
          .hero-heading {
            font-size: 2.375rem;
            line-height: 3.0875rem;
            letter-spacing: -0.32px;
          }

          .hero-paragraph {
            font-size: 1rem;
            line-height: 1.5rem;
          }
        }
      }
    }

    // Logos

    #logos {
      .container {
        .logos-container {
          grid-template-columns: repeat(3, 1fr);
          padding: 1.5625rem 0;
          column-gap: 3.28125rem;
          row-gap: 2.625rem;
        }
      }
    }

    // Features

    #features {
      margin-top: 5rem;

      .container {
        .features-container {
          margin-top: 1.875rem;
          grid-gap: 1.875rem;

          .features-item {
            &-heading {
              font-size: 1.75rem;
              line-height: 2.275rem;
              letter-spacing: -0.16px;
            }
          }
        }
      }
    }

    // CTA

    #cta {
      margin-top: 5rem;

      .container {
        flex-direction: column;

        img {
          max-width: 100%;
          padding: 0;
        }

        .cta-text-box {
          padding-top: 1.25rem;
          display: flex;
          flex-direction: column;
          align-items: center;
        }
      }
    }

    // Stats

    #stats {
      margin-top: 5rem;

      .container {
        .stats-container {
          grid-template-columns: repeat(2, 1fr);
        }
      }
    }

    // Testimonials

    #testimonials {
      margin-top: 5rem;

      .container {
        .testimonials-container {
          grid-gap: 1.875rem;

          .testimonial {
            grid-template-columns: 1fr;

            &-customer {
              padding: 0;
            }

            &-info {
              margin-top: 1.875rem;

              .section-paragraph-primary {
                text-align: center;
              }

              &-rating {
                justify-content: center;
                margin-top: 1.875rem;
              }
            }
          }
        }
      }
    }

    // Pricing

    #pricing {
      margin-top: 5rem;

      .container {
        .pricing-container {
          grid-gap: 1.875rem;

          .pricing-card {
            &-price {
              margin-top: 0.375rem;

              span {
                display: inline;
              }
            }

            &-description {
              margin-top: 0.375rem;
            }
          }
        }
      }
    }

    // Team

    #team {
      margin-top: 5rem;

      .container {
        .team-container {
          margin-top: 1.875rem;
          grid-template-columns: 1fr;
          grid-gap: 1.875rem;

          .team-card {
            &:nth-child(1) {
              .team-card-img {
                background-image: url("../assets/images/team/sarah_mobile.png");
              }
            }

            &:nth-child(2) {
              .team-card-img {
                background-image: url("../assets/images/team/michael_mobile.png");
              }
            }

            &:nth-child(3) {
              .team-card-img {
                background-image: url("../assets/images/team/lauren_mobile.png");
              }
            }

            &-img {
              height: 278px;
            }
          }
        }
      }
    }
  }
}
